html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}


/* ====== Containers ====== */

.container-fundo{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-areas: "menu info";
}



/* ===== navegação ===== */


.container-menu{
    grid-area: menu;
    background: linear-gradient(170deg, rgba(8, 14, 152, 1), rgba(8, 14, 152, 0.85));
    box-shadow: 0.1rem 0.3rem 1.5rem #000;
}

.container-menu .header{
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.header .logo h1{
    font-family: "fonte wow";
    font-weight: 100;
    font-size: 4.4rem;
    letter-spacing: 0.2rem;
}

.header .logo p{
    font-family: "chakra petch";
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.header nav .menu-check{
    display: flex;
    margin-bottom: 4rem;
}


.header nav .menu-check:nth-last-child(1){
    margin-bottom: 0;
}

.header nav .menu-check input{
    display: none;
}

.header nav .menu-check .menu{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.5rem;
    padding-right: 3rem;
    cursor: pointer;
}

.header nav .menu-check .menu span ion-icon{
    font-size: 3.8rem;
    height: 3.8rem;
    color: rgba(255, 255, 255, 0.7);
}

.header nav .menu-check .menu .title{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.7);
}


.header nav .menu-check input:checked ~ label .menu{
    background-color: rgba(5, 10, 80, 0.4);
    transition: 0.4s;
    border-radius: 3rem;
}

.header nav .menu-check input:checked ~ label .menu span{
    color: rgba(255, 255, 255, 0.9);
    transition: 0.4s;
}

.header nav .menu-check input:checked ~ label .menu span ion-icon{
    color: rgba(255, 255, 255, 0.9);
    transition: 0.4s;
}

.header .menu-hamburguer{
    display: none;
}


.header .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}



.header .user .info-user a img{
    max-width: 6rem;
    max-height: 6rem;
}

.header .user .info-user p{
    font-family: "chakra petch";
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.header .user .info-user, .log-out{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.6rem;
}

.header .user .log-out p{
    font-size: 2.4rem;
    height: 2.4rem;
}

.header .user .log-out a{
    font-size: 1.4rem;
    font-family: "chakra petch";
    transition: 0.3s ease-in-out;
}

.header .user .log-out a:hover{
    color: rgba(255, 255, 255, 0.5);
}

/* ===== dashboards ===== */
.container-info{
    grid-area: info;
    padding: 2rem;
}

/* ===== infos ===== */

.info-dash{
    display: grid;
    height: 100%;
    grid-gap: 1.4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:1fr
    1fr
    minmax(8rem 10rem)
    minmax(8rem 10rem);
    grid-template-areas:
    "ped1 ped2 ped3" 
    "shop1 shop1 shop2"
    "news1 news2 help2"
    "news1 help1 help2";  
}

.container-dash{
    color: rgba(8, 14, 152, 1);
    box-shadow: 0.2rem 0.4rem 0.9rem rgba(8,14,152,0.4);
    font-size: 2rem;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
}

.container-dash:nth-child(1n){
    display: flex;
    flex-direction: column;
}
.container-dash:hover{
    transform: scaleX(1.001);
}

.container-dash.dash-ped1{
    grid-area: ped1;
}

.container-dash .dash-titulo:nth-child(1n){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-dash .dash-titulo h2:nth-child(1n){
    color: rgba(8, 14, 152, 0.9);
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
}

.container-dash .dash-titulo p:nth-child(1n){
    font-size: 2.8rem;
    max-height: 2.8rem;
}

.container-dash .dash-titulo p ion-icon:nth-child(1n){
    color: rgba(8, 14, 152, 0.9);
    font-size: 2.8rem;
}

.container-dash .dash-dados{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-dash .dash-dados h3{
    color: rgba(8, 14, 152, 0.9);
    font-size: 5rem;
    letter-spacing: 0.2rem;
}

.container-dash.dash-ped2{
    grid-area: ped2;
}

.container-dash.dash-ped3{
    grid-area: ped3;
}

/* Info de Shop */
.container-dash.dash-shop1{
    grid-area: shop1;
}

.dash-shop1 .produtos{
    width: 100%;
    height: 100%;
    display: flex;
}

.dash-shop1 .produtos .produtos-img{
    display: flex;
    align-items: center;
    width: 100%;
}

.dash-shop1 .produtos .produtos-img::before{
    content: url(../images/Frame\ 19.png);
}

.dash-shop1 .produtos .produtos-img::after{
    content: url(../images/Frame\ 20.png);
}

.dash-shop1 .produtos .produtos-img .ctn-img3{
    width: 100%;
}

.dash-shop1 .produtos .produtos-img .ctn-img3 .defy2{
    width: 50%;
}

.dash-shop1 .produtos .produtos-img .ctn-img4{
    width: 100%;
}

.dash-shop1 .produtos .produtos-img .ctn-img4 .defy1{
    width: 100%;
}

.dash-shop1 .produtos .produtos-preco{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dash-shop1 .produtos .produtos-preco .preco-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
}

.dash-shop1 .produtos .produtos-preco .preco-info h4{
    color: rgba(8, 14, 152, 0.8);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.dash-shop1 .produtos .produtos-preco .preco-info p{
    color: rgba(8,14,152,0.4);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
}

.dash-shop1 .produtos .produtos-preco .preco-info h3{
    color: rgba(8, 14, 152, 1);
    font-size: 2.2rem;
    font-weight: 500;
}

.dash-shop1 .produtos .produtos-preco .comprar{
    display: flex;
    align-items: flex-start;
    margin-left: 4rem;
    margin-top: -6rem;
}

.btn{
    background: linear-gradient(139deg, rgba(8, 14, 152, 1) 0%, rgba(8, 14, 152, 0.8) 100%);
    box-shadow: 0.2rem 0.6rem 0.7rem rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    padding: 1rem 2.4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}



.container-dash.dash-shop2{
    grid-area: shop2;
}

.dash-shop2 .ctn-relatorio{
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    align-items: center;
}

.dash-shop2 .ctn-relatorio .relatorio{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.dash-shop2 .ctn-relatorio .relatorio img{
    width: 9rem;
    height: 9rem;
}

.dash-shop2 .ctn-relatorio .relatorio .barra-contorno{
    border: 0.1rem solid rgba(8, 14, 152, 0.9);
    width: 55%;
    height: 1.8rem;
    border-radius: 3rem;
}

.dash-shop2 .ctn-relatorio .relatorio .barra-contorno .barra-preenchimento{
    background: linear-gradient(139deg, rgba(8, 14, 152, 1) 0%, rgba(8, 14, 152, 0.8) 100%);
    text-align: center;
    border-radius: 4rem;
    font-size: 1.2rem;
    padding: 0.1rem;
    height: 100%;
    animation: preencher 4s ease-in-out;
    position: relative;
}

.dash-shop2 .ctn-relatorio .relatorio .barra-contorno .barra-preenchimento.wow{
    width: 92%;
}

.dash-shop2 .ctn-relatorio .relatorio .barra-contorno .barra-preenchimento.trustfi{
    width: 85%;
}

.dash-shop2 .ctn-relatorio .relatorio .barra-contorno .barra-preenchimento.ws{
    width: 70%;
}

.dash-shop2 .ctn-relatorio .relatorio .meta{
    color: rgba(8, 14, 152, 0.9);
    font-weight: 700;
    font-size: 1.15rem;
}

@-webkit-keyframes preencher{
    0%{
        width: 0%;
        left: 0;
        border-radius: 3rem;

    }
}

.container-dash.dash-news1{
    grid-area: news1;
}

.dash-news1 .ctn-news{
    width: 100%;
    display: flex;
    align-items: center;
}

.dash-news1 .ctn-news img{
    max-width: 50%;
    border-radius: 10rem;
}




.dash-news1 .ctn-news .news-info h4{
    color: rgba(8, 14, 152, 0.9);
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.dash-news1 .ctn-news .news-info P{
    color: rgba(5, 10, 80, 0.5);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
}

.dash-news1 .bullets{
    margin-top: 0.4rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}


.container-dash.dash-news2{
    grid-area: news2;
}

.dash-news2 .ctn-conquistas{
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100%; 
}

.dash-news2 .ctn-conquistas .conquistas{
    color: rgba(8, 14, 152, 0.9);
    font-weight: 700;
    font-size: 2.2rem;
}



.container-dash.dash-help1{
    grid-area: help1;
}

.dash-help1 .ctn-chamado{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 4rem;
}

.dash-help1 .ctn-chamado h3{
    color: rgba(8, 14, 152, 0.9);
    font-size: 2rem;
    text-transform: uppercase;
}


.container-dash.dash-help2{
    grid-area: help2;
}

.dash-help2 .ctn-manual .ctn-video{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1.6rem;
}

.dash-help2 .ctn-manual .ctn-video h4{
    color: rgba(8, 14, 152, 0.9);
    margin-top: 2rem;
}

.dash-help2 .ctn-manual .ctn-video video{
    max-width: 80%;
    height: 100%;
    border-radius: 1rem;
}

.dash-help2 .ctn-manual .ctn-video .carrossel{
    display: block;
    width: 4rem;
    height: 0.2rem;
    background-color: rgba(8, 14, 152, 0.9);
    position: relative;
    transition: 0.2 ease-in-out;
}

.dash-help2 .ctn-manual .ctn-video .carrossel::before, .dash-help2 .ctn-manual .ctn-video .carrossel::after{
    background-color: rgba(8, 14, 152, 0.4);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.dash-help2 .ctn-manual .ctn-video .carrossel::before{
    left: -6rem;
}

.dash-help2 .ctn-manual .ctn-video .carrossel::after{
    right: -6rem;
}













