html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}



/* ====== Navegação ====== */

.container-menu{
    position: fixed;
    width: 18%;
    height: 100%;
    background: linear-gradient(90deg, rgba(8, 14, 152, 1), rgba(8, 14, 152, 0.9));
    transition: 0.3s;
    box-shadow: 0.1rem 0.3rem 1.5rem #000;
    overflow-x: hidden;
}

.container-menu .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-menu .header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 2rem;
}

.container-menu .header .logo h1{
    font-family: "fonte wow";
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 4.8rem;
}

.container-menu .header .logo p{
    font-family: "chakra petch";
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    color: rgba(255, 255, 255, 0.7);
}

.container-menu .header .nav{
    padding: 2rem ;
    display: flex;
    flex-direction: column;   
}

.container-menu .header .nav .check{
    display: flex;
    margin-bottom: 4rem;
    transition: 0.3s;
    
}

.container-menu .header .nav .check input{
    display: none;
}

.container-menu .header .nav .check .menu{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.5rem;
    cursor: pointer;
    
}

.container-menu .header .nav .check .menu .icon{
    font-size: 3.8rem;
    height: 3.8rem;
}

.container-menu .header .nav .check .menu .title{
    font-size: 1.8rem;
}

.container-menu .header .nav .check input:checked ~ label .menu{
    background-color: rgba(5, 10, 80, 0.4);
    width: 110%;
    transition: 0.4s;
    border-radius: 3rem;
}

.container-menu .header .nav .check input:checked ~ label .menu span{
    color: rgba(255, 255, 255, 0.7);
    transition: 0.4s;
}

.area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.area-user{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.area-user img {
    width: 6rem;
    opacity: 0.9;
}

.area-user p{
    font-size: 1.6rem;
}

.area-out{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


.container-sections{
    height: 100%;
    margin-left: 20%;
}
/* ===== Seção Dash ===== */








