html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}


/* ====== Containers ====== */

.container-fundo{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-areas: "menu info";
}

@media(max-width:430px){
    .container-fundo{
        grid-template-columns: 1fr;
        grid-template-rows: 6rem;
        grid-template-areas: "menu" "info";
    }
}

/* ===== navegação ===== */


.container-menu{
    grid-area: menu;
    background: linear-gradient(170deg, rgba(8, 14, 152, 1), rgba(8, 14, 152, 0.85));
    box-shadow: 0.1rem 0.3rem 1.5rem #000;
}

.container-menu .header{
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.header .logo h1{
    font-family: "fonte wow";
    font-weight: 100;
    font-size: 4.4rem;
    letter-spacing: 0.2rem;
}

.header .logo p{
    font-family: "chakra petch";
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.header nav .menu-check{
    display: flex;
    margin-bottom: 4rem;
}

.header nav .menu-check:nth-last-child(1){
    margin-bottom: 0;
}

.header nav .menu-check input{
    display: none;
}

.header nav .menu-check .menu{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.5rem;
    padding-right: 3rem;
    cursor: pointer;
}

.header nav .menu-check .menu span ion-icon{
    font-size: 3.8rem;
    height: 3.8rem;
    color: rgba(255, 255, 255, 0.7);
}

.header nav .menu-check .menu .title{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.7);
}


.header nav .menu-check input:checked ~ label .menu{
    background-color: rgba(5, 10, 80, 0.4);
    transition: 0.4s;
    border-radius: 3rem;
}

.header nav .menu-check input:checked ~ label .menu span{
    color: rgba(255, 255, 255, 0.9);
    transition: 0.4s;
}

.header nav .menu-check input:checked ~ label .menu span ion-icon{
    color: rgba(255, 255, 255, 0.9);
    transition: 0.4s;
}


.header .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header .user .info-user, .log-out{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.6rem;
}

.header .user .info-user a img{
    max-width: 6rem;
    max-height: 6rem;
}

.header .user .info-user p{
    font-family: "chakra petch";
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.header .user .log-out p{
    font-size: 2.4rem;
    height: 2.4rem;
}

.header .user .log-out a{
    font-size: 1.4rem;
    font-family: "chakra petch";
    transition: 0.3s ease-in-out;
}

.header .user .log-out a:hover{
    color: rgba(255, 255, 255, 0.5);
}

/* ===== dashboards ===== */
.container-info{
    grid-area: info;
    padding: 3rem;
}

/* ===== infos ===== */

.info-dash{
    display: grid;
    height: 100%;
    grid-gap: 1.4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "ped1 ped2 ped3" 
    "shop1 shop1 shop2"
    "news1 news2 help2"
    "news1 help1 help2";  
}

.container-dash{
    color: rgba(8, 14, 152, 1);
    box-shadow: 0.2rem 0.4rem 0.9rem rgba(8,14,152,0.4);
    font-size: 2rem;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
}

.container-dash:nth-child(1n){
    display: flex;
    flex-direction: column;
}
.container-dash:hover{
    transform: scaleX(1.001);
}

.container-dash.dash-ped1{
    grid-area: ped1;
}

.container-dash .dash-titulo:nth-child(1n){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-dash .dash-titulo h2:nth-child(1n){
    color: rgba(8, 14, 152, 0.9);
    font-size: 2.6rem;
    letter-spacing: 0.05rem;
}

.container-dash .dash-titulo p:nth-child(1n){
    font-size: 2rem;
    max-height: 2rem;
}

.container-dash .dash-titulo p ion-icon:nth-child(1n){
    color: rgba(8, 14, 152, 0.9);
    font-size: 2rem;
}

.container-dash .dash-dados{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-dash .dash-dados h3{
    color: rgba(8, 14, 152, 0.9);
    font-size: 5.8rem;
    letter-spacing: 0.2rem;
}


.container-dash.dash-ped2{
    grid-area: ped2;
}


.container-dash.dash-ped3{
    grid-area: ped3;
}


.container-dash.dash-shop1{
    grid-area: shop1;

}

.container-dash.dash-shop1 .dash-dados{
    display: grid;
    grid-template-columns: 50% 50%;
}

.dash-shop1 .dash-dados .shop1-img .img-1{
    width: 50%;
    transform: scale(1.5,1.5);
    cursor: pointer;
}

.dash-shop1 .dash-dados .shop1-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-shop1 .dash-dados .shop1-produto h4{
    color: rgba(8, 14, 152, 0.9);
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}

.dash-shop1 .dash-dados .shop1-produto p{
    color: rgba(8, 14, 152, 0.9);
    font-size: 1.2rem;
    margin-bottom: 0.9rem;
}

.dash-shop1 .dash-dados .shop1-produto h5{
    color: rgba(8, 14, 152, 0.9);
    font-size: 2rem;
    margin-bottom: 2.8rem;
}


.dash-shop1 .dash-dados .shop1-produto .btn{
    background: linear-gradient(139deg, #1E1ACF 0%, #2972C7 100%); box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.25) inset; 
    border-radius: 30px;
    padding: 1.4rem 2.8rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.container-dash.dash-shop2{
    grid-area: shop2;
}

.dash-shop2 .dash-relatorio{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dash-shop2 .dash-relatorio .relatorio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-shop2 .dash-relatorio .relatorio h3{
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    color: #000;
    font-family: "fonte wow";
    letter-spacing: 0.2rem;
    font-weight: 100;
}

.dash-shop2 .dash-relatorio .relatorio img{
    width: 10rem;
}

.dash-shop2 .dash-relatorio .relatorio .contorno{
    width: 45%;
    height: 1.5rem;
    border-radius: 4rem;
    border: 0.2rem solid rgba(8, 14, 152, 0.6);
}

.dash-shop2 .dash-relatorio .relatorio .contorno .preenchimento-wow, .preenchimento-trustfi, .preenchimento-ws{
    border-radius: 4rem;
    height: 100%;
    background: linear-gradient(139deg, #1E1ACF 0%, #2972C7 100%);
    animation: preencher 6s  ease-in-out;
}


.dash-shop2 .dash-relatorio .relatorio .contorno .preenchimento-wow{
    width: 90%;

}

.dash-shop2 .dash-relatorio .relatorio .contorno .preenchimento-ws{
    width: 30%;
}


.dash-shop2 .dash-relatorio .relatorio .contorno .preenchimento-trustfi{
    width: 70%;
}

@-webkit-keyframes preencher{
    0%{
        width: 0%;
        border-radius: 4rem;
    }
}

.dash-shop2 .dash-relatorio .relatorio .meta{
    color: #1E1ACF;
    font-size: 1.2rem;
    font-weight: 700;
}
    















.container-dash.dash-news1{
    grid-area: news1;
}


.container-dash.dash-news2{
    grid-area: news2;
}


.container-dash.dash-help1{
    grid-area: help1;
}


.container-dash.dash-help2{
    grid-area: help2;
}








